.Signup {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  background: aliceblue;
}
.Signup-Inputs {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.Signup .Logo .Logo {
  width: 10em;
}
.Signup-Inputs input {
  padding: 0.5em 1em;
  border-style: none;
  border-bottom: 1px solid #363535;
  border-radius: 3px;
  width: 30em;
  height: 2em;
  background: transparent;
  font-family: "Roboto Condensed", sans-serif;
}
.Signup-Inputs input::placeholder {
  font-size: 1.2em;
}
.Signup button {
  width: 32em;
  height: 3.5em;
  border: 1px solid #363535;
  background: #363535;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.Signup button:hover {
  border: #ff8400;
  background-color: #ff8400;
  transition: 0.5s;
}
.Signup span {
  text-decoration: underline;
  color: #ff8400;
  cursor: pointer;
}
.Signup span:hover {
  color: #363535;
  transition: 0.5s;
}

/* ***********Mobile Device*********** */
@media screen and (max-width: 600px) {
  .Signup-Inputs input {
    width: 20em;
  }
  .Signup button {
    width: 20em;
  }
}
@media screen and (max-width: 350px) {
  .Signup-Inputs input {
    width: 15em;
  }
  .Signup button {
    width: 15em;
  }
}
@media screen and (max-width: 270px) {
  .Signup-Inputs input {
    width: 10em;
  }
  .Signup button {
    width: 10em;
  }
}
